<header class=" bg-blue-700 sticky top-0 z-40 w-full">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 lg:px-8 " aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/employee" class="-m-1.5 p-1.5 flex flex-row align-items-center text-xl text-white">
          <span class="sr-only">Sbay Combo</span>
          <img class="h-8 w-auto rounded-full mr-2" src="../images/sbay-logo.png" alt="">
          <p class="mt-1">Sales Management</p>
          
        </a>
      </div>

      <div class="hidden lg:flex lg:gap-x-12">
        <div class="relative">
          <a href="/employee" type="button"
            class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-white"
            aria-expanded="false">
            Tổng quan
        </a>
        </div>
        <a href="/employee/quan-ly-combo" class="text-sm font-semibold leading-6 text-white" title="44 đơn chờ xử lý">Combo
          (44)</a>

        
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details>
              <summary class=" text-white font-bold">
                <i data-feather="user" class="w-4"></i> <%= req.decoded.userID %>
              </summary>
              <ul class="p-2 bg-base-100">
                <li><a href="/thay-doi-thong-tin">Đổi thông tin</a></li>
                <li><a href="/logout">Đăng xuất</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </nav>

  </header>
  