<!DOCTYPE html>
<html data-theme="cupcake">


<head>
  <title>
    SBAY | Lấy lại mật khẩu
  </title>
  <meta name="author" content="Chung Le Ba">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.0.20/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.0.22/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>

<body>


  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <h1 class="mb-5 text-xl font-bold text-red-600">Lấy lại mật khẩu</h1>
      <a href="/" class="flex items-center mb-6 text-3xl font-semibold text-gray-900 dark:text-white">
        <img class="w-12 mr-2" src="./images/sbay-logo.png" alt="logo">
        Sales management
      </a>
      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8 flex flex-col justify-center">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">

          </h1>
          <div class="space-y-4 md:space-y-6" action="#">
            <p class="text-center">Vui lòng liên hệ quản lý IT để xác nhận và đặt lại mật khẩu</p>
          </div>
          <a href="tel:0989527911" class="btn text-white bg-green-600 text-center">Gọi Sang: 09xx,xxx,xxx</a>
        </div>
      </div>
      <a href="/" class="text-center mt-3 underline text-red-600">Về trang chủ</a>

    </div>
  </section>
</body>

</html>