<p class="text-red-500">Welcome to</p>

<!DOCTYPE html>
<html data-theme="light">


<head>
    <title>
        Sbay combo | Sales Management
    </title>
    <meta name="author" content="Chung Le Ba">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

</head>

<body>
    <h1>Xin chao</h1>
    <button class="btn">Button</button>
    <button class="btn btn-neutral">Neutral</button>
    <button class="btn btn-primary">Button</button>
    <button class="btn btn-secondary">Button</button>
    <button class="btn btn-accent">Button</button>
    <button class="btn btn-ghost">Button</button>
    <button class="btn btn-link">Button</button>
    <script>
        feather.replace()
    </script>
</body>

</html>