<div class="flex sticky bottom-5 justify-center  md:hidden ...">
  <ul class="menu menu-horizontal bg-slate-200 rounded-box">
    <li>
      <a href="/manager">
        <i data-feather="home" class="w-4 h-4"></i>Home
      </a>
    </li>
    <li>
      <a href="/manager/quan-ly-combo">
        <i data-feather="zap" class="w-4 h-4"></i>Đơn combo</a>
    </li>
    <li>
      <a href="/manager/quan-ly-nhan-vien">
        <i data-feather="user" class="w-4 h-4"></i>Nhân viên</a>
    </li>
  </ul>
  
</div>
