<div class="flex flex-row justify-end py-2 sm:px-6 lg:px-8">
  <a href="/manager/quan-ly-combo-cho-xu-ly" class=" mb-2 p-2 rounded-lg bg-red-600 text-white mr-2">Combo chờ xử lý (4)</a>
  <a href="/manager/quan-ly-combo-dang-xu-ly" class=" mb-2 p-2 rounded-lg bg-green-600 text-white mr-2">Combo đang xử lý (44)</a>
  <a href="/manager/quan-ly-combo-hoan-thanh" class=" mb-2 p-2 rounded-lg bg-blue-600 text-white mr-2">Combo hoàn thành (300)</a>
  <a href="/manager/quan-ly-combo-huy" class=" mb-2 p-2 rounded-lg bg-slate-300 mr-2">Combo hủy (2)</a>
</div>