<div class=" hidden lg:block">
  <a href="/manager/add-combo" class="d-flex flex-row align-items-center justify-content-center btn rounded-lg bg-red-600 text-white" style="position:fixed; bottom:50px; right:15px; z-index:999">
    <i data-feather="plus-circle"></i>Thêm combo
  </a>
  
</div>
